.education-section {
    background-color: #E7FBE6; /* Light gray background */
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .education-container {
    background-color: #FAEDCE;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .education-item {
    background-color: #E0E5B6; /* White background */
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards;
    transition-delay: 0.1s;
  }
  
  .education-item:nth-child(2) {
    animation-delay: 0.2s; /* Delay for the second item */
  }
  
  .education-item:nth-child(3) {
    animation-delay: 0.3s; /* Delay for the third item */
  }
  
  .education-degree {
    font-size: 22px;
    color: #181819; /* Blue text for degree */
    margin-bottom: 10px;
  }
  
  .education-institution {
    font-size: 18px;
    color: #333; /* Dark text */
    margin-bottom: 5px;
  }
  
  .education-year {
    font-size: 16px;
    color: #666; /* Lighter text */
    margin-bottom: 10px;
  }
  
  .education-description {
    font-size: 16px;
    color: #666; /* Lighter text */
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  